a {
  color: black;
}

.active a {
  color: white !important;
}

.active {
   background-color: #233592 !important;
}

.material-icons {
  color: #233592 !important;
}

.active .material-icons {
  color: white !important;
}

.row span {
  font-size: 12px;
  font-weight: bold;
}

.num {
  margin: 0 !important;
  color: #233592 !important;
  font-weight: bold;
  font-size: 16px;
}




.spinner {
  border: 16px solid silver;
  border-top: 16px solid #337AB7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 700ms linear infinite;
  top: 50%;
  left: 50%;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(-360deg) }
}

