.error {
  color: red;
  padding: 0px !important;
  margin: 0px !important;
}

.text {
  margin-left: 15px;
  margin-top: -10px;
  color: #233592;
  font-weight: bold;
  /* text-align: center; */
}

#savePassword {
  float: right;
  margin-right: 10px;
  background-color: #233592;
  font-weight: 500;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #233592 !important;
  box-shadow: 0 1px 0 0 #233592 !important;
 }


 /* label focus color */
.input-field input[type=password]:focus + label {
  color: #233592 !important;
 }

/* label underline focus color */
 .input-field input[type=password]:focus {
  border-bottom: 1px solid #233592 !important;
  box-shadow: 0 1px 0 0 #233592 !important;
 }
