.tabs a {
  color: #233592;
  font-weight: bold;
  font-size: 18px;
}

.tabs .active {
  background: inherit !important;
}

div.bck {
  width: 90%;
}

.container {
  /* background-color: #F8F8F8 !important; */
}

/* .row {
  margin-left: 150px;
  margin-left: 100px;
} */